<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tencent.health.mapper.OrderMapper">
    <select id="findByCondition" parameterType="order" resultType="order">
        select * from t_order
        <where>
            <if test="memberId != null and memberId != 0">
                and member_id = #{memberId}
            </if>
            <if test="orderDate != null">
                and orderDate = #{orderDate}
            </if>
            <if test="setmealId != null and setmealId != 0">
                and setmeal_id = #{setmealId}
            </if>
        </where>
    </select>
    <insert id="addOne" parameterType="order">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_order
        values(#{id},#{memberId},#{orderDate},#{orderType},#{orderStatus},#{setmealId})
    </insert>
    <select id="findById" parameterType="int" resultType="java.util.Map">
        SELECT t1.`name` member, t3.`name` setmeal, t2.orderDate, t2.orderType
        FROM t_member t1,
             t_order t2,
             t_setmeal t3
        WHERE t1.`id` = t2.`member_id`
          AND t2.`setmeal_id` = t3.`id`
          AND t2.`id` = #{id};
    </select>
    <select id="findCountBySetmealId" parameterType="Integer" resultType="Integer">
        select count(member_id)
        from t_order
        where setmeal_id = #{setmealId}
    </select>
    <select id="findOrderCountByDate" parameterType="String" resultType="Integer">
        select count(id)
        from t_order
        where orderDate = #{orderDate}
    </select>
    <select id="findCountOrderStatusByDate" parameterType="map" resultType="Integer">
        select count(id)
        from t_order
        where orderDate = #{orderDate}
        <if test="orderStatus != null">
            and orderStatus = #{orderStatus}
        </if>
    </select>
    <select id="findCountAfterDate" parameterType="map" resultType="Integer">
        select count(id)
        from t_order
        where orderDate &gt;=#{orderDate}
        <if test="orderStatus != null">
            and orderStatus = #{orderStatus}
        </if>
    </select>
    <select id="findHotSetmeal" resultType="map">
        SELECT s.`name`, COUNT(o.id) setmeal_count, COUNT(o.id) / (SELECT COUNT(id) FROM t_order) proportion
        FROM t_order o
                 INNER JOIN t_setmeal s ON o.`setmeal_id` = s.`id`
        GROUP BY o.setmeal_id
        ORDER BY setmeal_count DESC
        LIMIT 0,3
    </select>
</mapper>