<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tencent.health.mapper.PermissionMapper">
    <select id="findPermissionByRoleId" parameterType="int" resultType="permission">
        SELECT t1.*
        FROM t_permission t1,
             t_role_permission t2
        WHERE t1.`id` = t2.`permission_id`
          AND t2.`role_id` = #{roleId}
    </select>
</mapper>